.brand {
    background-color: orange !important;
}

.brand-text {
    color: orange  !important;
}

.pizza {
    width: 100px;
    margin: 40px auto -30px;
    display: block;
    position: relative;
    top: -30;
}

